# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment & secret files
*.env
*.pem
*.ppk
aws_credentials/

# Ignore Terraform state & lock files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
*.zip

# Ignore Python cache
__pycache__/
*.pyc